* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: rgb(255, 255, 255);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(0, 0, 0)
    )
    rgb(0, 0, 255);
}

main {
  height: 100vh;
  padding-top: 3rem;
}

.heading {
  display: flex;
  flex-direction: row;
  text-align: center;
}